.imageClass {
  max-width:120px;
  max-height: 120px;
}
.h1 {
  align-text: center
}

/* Button */
.button {
   -moz-box-shadow: inset -3px -3px 10px #cc870a;
   -webkit-box-shadow: inset -3px -3px 10px #cc870a;
   box-shadow: inset -3px -3px 10px #cc870a;
   background-color: #f7b31c; /* Fill color */
   color: white; /* Text color */
   border-radius: 15px; /* Rounded button edges */
   font-style: italic; /* Italicize text */
   padding: 10px 30px; /* Distance between text and border */
}
body {
   background-image: url(http://cakta.com/data/out/114/403464428-shopping-wallpapers.jpg);
   background-color: #cccccc;
   text-align: center;
   font-family: Verdana, Times, serif;
}
h1 {
    text-align: center;
    font-family: Verdana;
}
